In [3]:
# Add the Pandas dependency.
import pandas as pd
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)
student_name = []
prefixes = []
suffixes = []

student_name = student_data_df["student_name"].tolist()
for names in student_name:
    if len(names.split()[0]) <= 4:
        prefixes.append(names.split()[0])
      

    if len(names.split()[-1]) <=3:
        suffixes.append(names.split()[-1])

prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

for word in prefixes_suffixes:
    student_data_df['student_name'] = student_data_df["student_name"].str.replace(word,"")
       
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [4]:
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [5]:
school_data_df.isnull()

    School ID  school_name   type   size  budget
0       False        False  False  False   False
1       False        False  False  False   False
2       False        False  False  False   False
3       False        False  False  False   False
4       False        False  False  False   False
5       False        False  False  False   False
6       False        False  False  False   False
7       False        False  False  False   False
8       False        False  False  False   False
9       False        False  False  False   False
10      False        False  False  False   False
11      False        False  False  False   False
12      False        False  False  False   False
13      False        False  False  False   False
14      False        False  False  False   False

In [6]:
school_data_df.isnull().sum()

School ID      0
school_name    0
type           0
size           0
budget         0
dtype: int64

In [7]:
school_student_df = pd.merge(student_data_df,school_data_df, on=["school_name", "school_name"])
student_count = school_student_df["student_name"].count()
student_count
school_name = len(school_student_df["school_name"].unique())
school_name
school_budget = school_data_df["budget"].sum()
school_budget
Avg_math_score = school_student_df["math_score"].mean()
Avg_math_score
Avg_reading_score = school_student_df["reading_score"].mean()
Avg_reading_score

81.87784018381414

In [8]:
passing_math = school_student_df[school_student_df["math_score"] >= 70]

passing_math_count = passing_math["Student ID"].count()

passing_math_percentage = passing_math_count/student_count*100

passing_math_percentage

74.9808526933878

In [9]:
passing_reading = school_student_df[school_student_df["reading_score"] >= 70]

passing_reading_count = passing_reading["Student ID"].count()

passing_reading_percentage = passing_reading_count/student_count*100

passing_reading_percentage

85.80546336482001

In [10]:
passing_both = school_student_df[(school_student_df["math_score"] >= 70) & (school_student_df["reading_score"] >= 70)]
passing_both_count = passing_both["Student ID"].count()
passing_both_percentage = passing_both_count/student_count*100
passing_both_percentage

65.17232575950983

In [11]:
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_name,
          "Total Students": student_count,
          "Total Budget": school_budget,
          "Average Math Score": Avg_math_score,
          "Average Reading Score": Avg_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": passing_both_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [12]:
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [13]:
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.0f}".format)

district_summary_df["Average Math Score"]

0    79
Name: Average Math Score, dtype: object

In [14]:
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.0f}".format)

district_summary_df["Average Reading Score"]

0    82
Name: Average Reading Score, dtype: object

In [15]:
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}%".format)

district_summary_df["% Passing Math"]

0    75%
Name: % Passing Math, dtype: object

In [16]:
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}%".format)

district_summary_df["% Passing Reading"]

0    86%
Name: % Passing Reading, dtype: object

In [17]:
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}%".format)

district_summary_df["% Overall Passing"]

0    65%
Name: % Overall Passing, dtype: object

In [18]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170",24649428,79,82,75%,86%,65%

In [19]:
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [20]:
per_school_types = school_data_df.set_index(["school_name"]) ["type"]
per_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [21]:
df = pd.DataFrame(per_school_types)
df

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [22]:
per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [23]:
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [24]:
per_school_capita = per_school_budget/per_school_counts
per_school_capita

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [25]:
per_school_math = school_student_df.groupby(["school_name"]).mean()["math_score"]
per_school_math

per_school_reading = school_student_df.groupby(["school_name"]).mean()["reading_score"]
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [26]:
per_school_passing_math = school_student_df[(school_student_df["math_score"]>=70)]
per_school_passing_math

per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_math

per_school_passing_math = per_school_passing_math/per_school_counts*100
per_school_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [27]:
per_school_passing_reading = school_student_df[(school_student_df["reading_score"] >= 70)]
per_school_passing_reading

per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading

per_school_passing_reading = per_school_passing_reading/per_school_counts*100
per_school_passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [28]:
per_school_passing_math_reading = school_student_df[(school_student_df ["math_score"]>= 70) &(school_student_df ["reading_score"]>= 70)]
per_school_passing_math_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [29]:
per_school_passing_math_reading = per_school_passing_math_reading.groupby(["school_name"]).count()["student_name"]
per_school_passing_math_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64

In [30]:
per_school_passing_math_reading = per_school_passing_math_reading/per_school_counts*100
per_school_passing_math_reading

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [31]:
per_School_summary_df = pd.DataFrame({
    "School Type" : per_school_types,
    "Total Students" : per_school_counts,
    "Total School Budget" : per_school_budget,
    "Budget per Student" : per_school_capita,
    "Average Math Score" : per_school_math,
    "Average Reading Score" : per_school_reading,
    "% Passing Math" : per_school_passing_math,
    "% Passing Reading" : per_school_passing_reading,
    "% Passing both Math and Reading": per_school_passing_math_reading
    
    
})
per_School_summary_df

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing both Math and Reading
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [32]:
per_School_summary_df["Total School Budget"] = per_School_summary_df["Total School Budget"].map("${:,.2f}".format)
per_School_summary_df

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing both Math and Reading
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [33]:
top_schools = per_School_summary_df.sort_values(["% Passing both Math and Reading"],ascending = False)
top_schools.head()

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing both Math and Reading
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [34]:
bottom_schools = per_School_summary_df.sort_values(["% Passing both Math and Reading"])
bottom_schools.head()

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing both Math and Reading
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [35]:
ninth_graders = school_student_df[(school_student_df["grade"]=="9th")]
ninth_graders

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130

In [36]:
tenth_graders = school_student_df[(school_student_df["grade"]=='10th')]
tenth_graders

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130

In [37]:
eleventh_graders = school_student_df[(school_student_df["grade"]=='11th')]
eleventh_graders

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
15,15,Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [38]:
twelfth_graders = school_student_df[(school_student_df["grade"]=='12th')]
twelfth_graders

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39137,39137,Victoria Bailey,F,12th,Thomas High School,75,70,14,Charter,1635,1043130
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130

In [39]:
ninth_graders_math_score = ninth_graders.groupby(["school_name"]).mean()["math_score"].map("{:,.2f}".format)
ninth_graders_math_score

ninth_graders_reading_score = ninth_graders.groupby(["school_name"]).mean()["reading_score"].map("{:,.2f}".format)
ninth_graders_reading_score

school_name
Bailey High School       81.30
Cabrera High School      83.68
Figueroa High School     81.20
Ford High School         80.63
Griffin High School      83.37
Hernandez High School    80.87
Holden High School       83.68
Huang High School        81.29
Johnson High School      81.26
Pena High School         83.81
Rodriguez High School    80.99
Shelton High School      84.12
Thomas High School       83.73
Wilson High School       83.94
Wright High School       83.83
Name: reading_score, dtype: object

In [40]:
tenth_graders_math_score = tenth_graders.groupby(["school_name"]).mean()["math_score"].map("{:,.2f}".format)
tenth_graders_math_score

tenth_graders_reading_score = tenth_graders.groupby(["school_name"]).mean()["reading_score"].map("{:,.2f}".format)
tenth_graders_reading_score

school_name
Bailey High School       80.91
Cabrera High School      84.25
Figueroa High School     81.41
Ford High School         81.26
Griffin High School      83.71
Hernandez High School    80.66
Holden High School       83.32
Huang High School        81.51
Johnson High School      80.77
Pena High School         83.61
Rodriguez High School    80.63
Shelton High School      83.44
Thomas High School       84.25
Wilson High School       84.02
Wright High School       83.81
Name: reading_score, dtype: object

In [41]:
eleventh_graders_math_score = eleventh_graders.groupby(["school_name"]).mean()["math_score"].map("{:,.2f}".format)
eleventh_graders_math_score

eleventh_graders_reading_score = eleventh_graders.groupby(["school_name"]).mean()["reading_score"].map("{:,.2f}".format)
eleventh_graders_reading_score

school_name
Bailey High School       80.95
Cabrera High School      83.79
Figueroa High School     80.64
Ford High School         80.40
Griffin High School      84.29
Hernandez High School    81.40
Holden High School       83.82
Huang High School        81.42
Johnson High School      80.62
Pena High School         84.34
Rodriguez High School    80.86
Shelton High School      84.37
Thomas High School       83.59
Wilson High School       83.76
Wright High School       84.16
Name: reading_score, dtype: object

In [42]:
twelfth_graders_math_score = twelfth_graders.groupby(["school_name"]).mean()["math_score"].map("{:,.2f}".format)
twelfth_graders_math_score

twelfth_graders_reading_score = twelfth_graders.groupby(["school_name"]).mean()["reading_score"].map("{:,.2f}".format)
twelfth_graders_reading_score

school_name
Bailey High School       80.91
Cabrera High School      84.29
Figueroa High School     81.38
Ford High School         80.66
Griffin High School      84.01
Hernandez High School    80.86
Holden High School       84.70
Huang High School        80.31
Johnson High School      81.23
Pena High School         84.59
Rodriguez High School    80.38
Shelton High School      82.78
Thomas High School       83.83
Wilson High School       84.32
Wright High School       84.07
Name: reading_score, dtype: object

In [43]:
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_graders_math_score,
    "10th":tenth_graders_math_score,
    "11th":eleventh_graders_math_score,
    "12th":twelfth_graders_math_score
})
math_scores_by_grade

math_scores_by_grade.index.name = None

math_scores_by_grade

                         9th   10th   11th   12th
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

In [44]:
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_graders_reading_score,
    "10th":tenth_graders_reading_score,
    "11th":eleventh_graders_reading_score,
    "12th":twelfth_graders_reading_score
})
reading_scores_by_grade


reading_scores_by_grade.index.name = None

reading_scores_by_grade

                         9th   10th   11th   12th
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

In [45]:


per_school_capita

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [46]:
per_school_capita.describe()

count     15.000000
mean     620.066667
std       28.544368
min      578.000000
25%      591.500000
50%      628.000000
75%      641.500000
max      655.000000
dtype: float64

In [63]:
spending_bins=[0,585,630,645,675]
group_names = ["<585","586-630","631-645","646-675"]
per_school_capita.groupby(pd.cut(per_school_capita,spending_bins)).count()

(0, 585]      4
(585, 630]    4
(630, 645]    4
(645, 675]    3
dtype: int64

In [107]:
per_School_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins,labels = group_names)

per_School_summary_df

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing both Math and Reading,Spending Ranges (Per Student),Total Student,School Bins
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,54.642283,586-630,>2000,>2000
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<585,>1000 and <2000,>1000 and <2000
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476,631-645,>2000,>2000
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,54.289887,631-645,>2000,>2000
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,90.599455,586-630,>1000 and <2000,>1000 and <2000
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,53.527508,646-675,>2000,>2000
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<585,< 1000,< 1000
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,53.513884,646-675,>2000,>2000
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,53.539172,646-675,>2000,>2000
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,90.540541,586-630,< 1000,< 1000
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,52.988247,631-645,>2000,>2000
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,93.867121,95.854628,89.892107,586-630,>1000 and <2000,>1000 and <2000
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,90.948012,631-645,>1000 and <2000,>1000 and <2000
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<585,>2000,>2000
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<585,>1000 and <2000,>1000 and <2000

In [81]:
spending_math_scores = per_School_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"].map("{:,.1f}".format)
spending_reading_scores = per_School_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"].map("{:,.1f}".format)
spending_passing_math=per_School_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"].map("{:,.0f}".format)
spending_passing_reading=per_School_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"].map("{:,.0f}".format)
spending_passing_both=per_School_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing both Math and Reading"].map("{:,.0f}".format)

In [82]:
spending_summary_df = pd.DataFrame({
          "Average Math Score" : spending_math_scores,
          "Average Reading Score": spending_reading_scores,
          "% Passing Math": spending_passing_math,
          "% Passing Reading": spending_passing_reading,
          "% Overall Passing": spending_passing_both})

spending_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<585,83.5,83.9,93,97,90
586-630,81.9,83.2,87,93,81
631-645,78.5,81.6,73,84,63
646-675,77.0,81.0,66,81,54

In [84]:
school_student_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [93]:
per_school_counts.describe()

count      15.000000
mean     2611.333333
std      1420.915282
min       427.000000
25%      1698.000000
50%      2283.000000
75%      3474.000000
max      4976.000000
Name: size, dtype: float64

In [94]:
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [97]:
school_size = [0,1000,2000,5000]
group_labels = ["< 1000",">1000 and <2000",">2000"]
per_school_counts.groupby(pd.cut(per_school_counts,school_size)).count()

size
(0, 1000]       2
(1000, 2000]    5
(2000, 5000]    8
Name: size, dtype: int64

In [102]:
per_School_summary_df["School Bins"] = pd.cut(per_School_summary_df["Total Students"],school_size,labels = group_labels)
per_School_summary_df

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing both Math and Reading,Spending Ranges (Per Student),Total Student,School Bins
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,54.642283,586-630,>2000,>2000
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<585,>1000 and <2000,>1000 and <2000
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476,631-645,>2000,>2000
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,54.289887,631-645,>2000,>2000
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,90.599455,586-630,>1000 and <2000,>1000 and <2000
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,53.527508,646-675,>2000,>2000
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<585,< 1000,< 1000
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,53.513884,646-675,>2000,>2000
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,53.539172,646-675,>2000,>2000
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,90.540541,586-630,< 1000,< 1000
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,52.988247,631-645,>2000,>2000
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,93.867121,95.854628,89.892107,586-630,>1000 and <2000,>1000 and <2000
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,90.948012,631-645,>1000 and <2000,>1000 and <2000
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<585,>2000,>2000
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<585,>1000 and <2000,>1000 and <2000

In [115]:
size_math_score = per_School_summary_df.groupby(["School Bins"]).mean()["Average Math Score"].map("{:,.1f}".format)
size_reading_score = per_School_summary_df.groupby(["School Bins"]).mean()["Average Reading Score"].map("{:,.1f}".format)
size_passing_math = per_School_summary_df.groupby(["School Bins"]).mean()["% Passing Math"].map("{:,.0f}".format)
size_passing_reading = per_School_summary_df.groupby(["School Bins"]).mean()["% Passing Reading"].map("{:,.0f}".format)
size_passing_both = per_School_summary_df.groupby(["School Bins"]).mean()["% Passing both Math and Reading"].map("{:,.0f}".format)

In [118]:
per_School_summary_df=per_School_summary_df.drop(columns = ["Total Student"],axis = 1)

In [119]:
per_School_summary_df

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing both Math and Reading,Spending Ranges (Per Student),School Bins
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,54.642283,586-630,>2000
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<585,>1000 and <2000
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476,631-645,>2000
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,54.289887,631-645,>2000
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,90.599455,586-630,>1000 and <2000
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,53.527508,646-675,>2000
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<585,< 1000
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,53.513884,646-675,>2000
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,53.539172,646-675,>2000
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,90.540541,586-630,< 1000
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,52.988247,631-645,>2000
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,93.867121,95.854628,89.892107,586-630,>1000 and <2000
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,90.948012,631-645,>1000 and <2000
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<585,>2000
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<585,>1000 and <2000

In [122]:
size_summary_df = pd.DataFrame({
    "Average Math Score":size_math_score,
    "Average Reading Score":size_reading_score,
    "% Passing Math":size_passing_math,
    "% Passing Reading":size_passing_reading,
    "% Passing Both Math and Reading":size_passing_both
})

size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Both Math and Reading
School Bins,,,,,
< 1000,83.8,83.9,94,96,90
>1000 and <2000,83.4,83.9,94,97,91
>2000,77.7,81.3,70,83,58

In [123]:
per_School_summary_df

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing both Math and Reading,Spending Ranges (Per Student),School Bins
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,54.642283,586-630,>2000
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<585,>1000 and <2000
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476,631-645,>2000
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,54.289887,631-645,>2000
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,90.599455,586-630,>1000 and <2000
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,53.527508,646-675,>2000
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<585,< 1000
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,53.513884,646-675,>2000
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,53.539172,646-675,>2000
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,90.540541,586-630,< 1000
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,52.988247,631-645,>2000
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,93.867121,95.854628,89.892107,586-630,>1000 and <2000
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,90.948012,631-645,>1000 and <2000
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<585,>2000
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<585,>1000 and <2000

In [126]:
type_math_score = per_School_summary_df.groupby("School Type").mean()["Average Math Score"].map("{:,.1f}".format)
type_math_score

School Type
Charter     83.5
District    77.0
Name: Average Math Score, dtype: object

In [127]:
type_reading_score = per_School_summary_df.groupby(["School Type"]).mean()["Average Reading Score"].map("{:,.1f}".format)
type_passing_math = per_School_summary_df.groupby(["School Type"]).mean()["% Passing Math"].map("{:,.0f}".format)
type_passing_reading = per_School_summary_df.groupby(["School Type"]).mean()["% Passing Reading"].map("{:,.0f}".format)
type_passing_both = per_School_summary_df.groupby(["School Type"]).mean()["% Passing both Math and Reading"].map("{:,.0f}".format)

In [128]:
type_summary_df = pd.DataFrame({
    "Average Math Score" : type_math_score,
    "Average Reading Score" : type_reading_score,
    "% Passing Math" : type_passing_math,
    "% Passing Reading": type_passing_reading,
    "type_summary_df% Passing both Math and Reading": type_passing_both
})

type_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,type_summary_df% Passing both Math and Reading
School Type,,,,,
Charter,83.5,83.9,94,97,90
District,77.0,81.0,67,81,54