In [22]:
# Add the Pandas dependency.
import pandas as pd
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)
student_name = []
prefixes = []
suffixes = []

student_name = student_data_df["student_name"].tolist()
for names in student_name:
    if len(names.split()[0]) <= 4:
        prefixes.append(names.split()[0])
      

    if len(names.split()[-1]) <=3:
        suffixes.append(names.split()[-1])

prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

for word in prefixes_suffixes:
    student_data_df['student_name'] = student_data_df["student_name"].str.replace(word,"")
       
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [23]:
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [24]:
school_data_df.isnull()

    School ID  school_name   type   size  budget
0       False        False  False  False   False
1       False        False  False  False   False
2       False        False  False  False   False
3       False        False  False  False   False
4       False        False  False  False   False
5       False        False  False  False   False
6       False        False  False  False   False
7       False        False  False  False   False
8       False        False  False  False   False
9       False        False  False  False   False
10      False        False  False  False   False
11      False        False  False  False   False
12      False        False  False  False   False
13      False        False  False  False   False
14      False        False  False  False   False

In [25]:
school_data_df.isnull().sum()

School ID      0
school_name    0
type           0
size           0
budget         0
dtype: int64

In [26]:
school_student_df = pd.merge(student_data_df,school_data_df, on=["school_name", "school_name"])
student_count = school_student_df["student_name"].count()
student_count
school_name = len(school_student_df["school_name"].unique())
school_name
school_budget = school_data_df["budget"].sum()
school_budget
Avg_math_score = school_student_df["math_score"].mean()
Avg_math_score
Avg_reading_score = school_student_df["reading_score"].mean()
Avg_reading_score

81.87784018381414

In [27]:
passing_math = school_student_df[school_student_df["math_score"] >= 70]

passing_math_count = passing_math["Student ID"].count()

passing_math_percentage = passing_math_count/student_count*100

passing_math_percentage

74.9808526933878

In [28]:
passing_reading = school_student_df[school_student_df["reading_score"] >= 70]

passing_reading_count = passing_reading["Student ID"].count()

passing_reading_percentage = passing_reading_count/student_count*100

passing_reading_percentage

85.80546336482001

In [29]:
passing_both = school_student_df[(school_student_df["math_score"] >= 70) & (school_student_df["reading_score"] >= 70)]
passing_both_count = passing_both["Student ID"].count()
passing_both_percentage = passing_both_count/student_count*100
passing_both_percentage

65.17232575950983

In [43]:
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_name,
          "Total Students": student_count,
          "Total Budget": school_budget,
          "Average Math Score": Avg_math_score,
          "Average Reading Score": Avg_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": passing_both_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [31]:
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [44]:
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.0f}".format)

district_summary_df["Average Math Score"]

0    79
Name: Average Math Score, dtype: object

In [46]:
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.0f}".format)

district_summary_df["Average Reading Score"]

0    82
Name: Average Reading Score, dtype: object

In [47]:
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}%".format)

district_summary_df["% Passing Math"]

0    75%
Name: % Passing Math, dtype: object

In [48]:
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}%".format)

district_summary_df["% Passing Reading"]

0    86%
Name: % Passing Reading, dtype: object

In [49]:
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}%".format)

district_summary_df["% Overall Passing"]

0    65%
Name: % Overall Passing, dtype: object

In [50]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,79,82,75%,86%,65%